# Frontend specific files
app/client/header            phil397

# Добавление пользователя для конкретного раздела
client/footer      @phil2195 @phil397

# Backend specific files
app/             @Polyfill21/Polyfill22
